.dropdown-false {
    display: none;
}

.dropdown-true {
    display: inline-block;
    position: relative;
    right: 10%;
    top: 10%;
    width: 190%;
    z-index: 10;
}

.dropdown-true ul {
    list-style: none;
    border: 1px solid #000;
    border-radius: 5%;
    background-color: #ebe7e7;
    color: #000;
    position: relative;
    top:0;
    width: 80%;
}

.dropdown-true li {
    font-size: .8rem;
    text-align: center;
    padding: 2%;
    display: flex;
}

.dropdown-true li:hover {
    cursor: pointer;
    background-color: #00000063;

}

.dropdown-true li img {
    width: 16%;
    position: relative;
    left: 2%;
    padding-right: 5%;
}

@media only screen and (max-width: 790px) {
    .dropdown-true {
        width: 140%;
    }
}

@media only screen and (max-width: 530px) {
    .dropdown-true ul li{
        font-size: .7rem;
    }
}