.dropdown-false {
    display: none;
}

.dropdown-true {
    display: inline-block;
    position: absolut;
    right: 55%;
    top: 10%;
    width: 170%;
    z-index: 10;
}

.menu ul {
    list-style: none;
    border: 1px solid #000;
    border-radius: 5%;
    background-color: #ebe7e7;
    color: #000;
    z-index: 10;
    position: relative;
}

.dropdown-true li {
    font-size: .8rem;
    padding: 2%;
    display: flex;
    z-index: 20;
}

.dropdown-true li:hover {
    cursor: pointer;
    background-color: #00000063;
}

.dropdown-true li img {
    width: 16%;
    position: relative;
    left: 2%;
    padding-right: 5%;
    z-index: 10;
}

.dropdown-true label {
    cursor: pointer;
    z-index: 20;
}

#fileUpload {
    display: none;
}

#addingCoverMenu-true {
    width: 150%;
    position: sticky;
    border: none;
    z-index: 20;
}

#addingCoverMenu-false {
    display: none;
}

#addingCoverMenu-true li{
    font-size: .7rem;
    padding-left: 3%;
}

@media only screen and (max-width: 1125px) {
    .dropdown-true li {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 900px) {
    #addingCoverMenu-true {
        width: 120%;
    }
    #addingCoverMenu-true li{
        font-size: .5rem;
    }
}

@media only screen and (max-width: 720px) {
    .dropdown-true {
        width: 180%;
    }
    #addingCoverMenu-true {
        width: 160%;
    }
    #addingCoverMenu-true li{
        font-size: .65rem;
    }
    .dropdown-true li label img {
        position: relative;
        top: 10%;
    }
}

@media only screen and (max-width: 535px) {
    .dropdown-true {
        width: 250%;
        translate: -60%;
    }
    .dropdown-true li{
        font-size: .65rem;
    }
    #addingCoverMenu-true {
        translate: -60%;
        width: 210%;
    }
}