.playlist {
    width: 45%;
    background-color: #efefef4d;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    min-height: 20rem;
    max-height: 40rem;
    border: 2px solid #b6b1b1;
}

.playlistName img {
    width: 6%;
    position: relative;
    bottom: 45%;
    left: 90%;
    border-radius: 50%;
}

.playlistName img:hover {
    background-color: #00000049;
    cursor: pointer;
}

.tracklist {
    overflow-y: scroll;
}

#addToSpotify {
    width: 30%;
    margin-top: 1%;
    position: sticky;
}

@media only screen and (max-width: 1050px) {
    #addToSpotify {
        width: 50%;
        translate: 50%;
        margin-top: .5rem;
    }
}

@media only screen and (max-width: 430px) {
    #addToSpotify {
        font-size: .7rem;
    }
}
