.playlist {
    width: 40%;
    background-color: #85e0c093;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    min-height: 20rem;
    max-height: 40rem;
    border: 2px solid #b6b1b1;
}

.playlistName {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.settings {
    width: 20%;
}

.coverImage {
    margin: 1% 0 0 5%;
    width: 3.55rem;
    height: 3.55rem;
}

.playlistName h2, .playlistName form {
    width: 80%;
    margin-left: 3%;
}

.playlistName form input[type='text'] {
    width: 80%;
    margin-top: 2%;
}

#more {
    width: 30%;
    position: relative;
    left: 28%;
    top: 23%;
    border-radius: 50%;
}

#more:hover {
    background-color: #00000049;
    cursor: pointer;
}

.center {
    overflow-y: scroll;
    height: 75%;
}

.addToSpotify {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#addToSpotify {
    width: 32%;
    margin: 3%;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    #addToSpotify {
        width: 40%;
        margin: .5rem;
    }
    #more {
        width: 40%;
    }
}

@media only screen and (max-width: 720px) {
    .playlistName {
        height: 19%;
    }
    .playlistName h2 {
        width: 90%;
    }
    #more {
        width: 45%;
    }
    .playlist {
        width: 100%;
        margin: 2% 0;
    }
    .settings {
        width: 15%;
    }
    .settings img {
        bottom: 100%;
    }
}

@media only screen and (max-width: 470px) {
    #addToSpotify {
        font-size: .8rem;
    }
    .settings img {
        bottom: 70%;
    }
    #more {
        width: 60%;
    }
    .playlistName h2 {
        font-size: 1.25rem;
    }
}
