.searchBar {
    width: 100%;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchResults, .playlist {
    width: 45%;
    overflow-y: scroll;
    border: 2px solid #b6b1b1;
}

.searchBar h2 {
    text-align: center;
    padding: 2% 0;
}

.searchResults {
    background-color: #aeeddac7;
    margin-bottom: 2rem;
    height: 40rem;
}

.searchBar input {
    position: initial;
    display: block;
    width: 40%;
    height: 2.5rem;
    padding: 1%;
    background-color: #aeedda;
    translate: 75%;
    font-size: large;
    letter-spacing: .2rem;
    border-radius: 1rem;
} 

.searchBar input:focus{
    background-color: #265b4fd7;
    color: #fff;
    font-size: large;
    letter-spacing: .2rem;
}

.searchBar input::placeholder {
    color:  #000;
}

.searchBar button {
    width: 20%;
    position: initial;
    border-radius: 5%;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    translate: 200%;
    margin: 3% 0;
    padding: 1% 0;
    color: #000;
}

.searchBar button:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;   
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c18d59;
    border-radius: 2px;
} 

/* Media queries */

@media only screen and (max-width: 1330px) {
    .beforeSearching input {
        left: 40%;
    }

    .beforeSearching button {
        left: 40%;
    }
}

@media only screen and (max-width: 1050px) {
    .searchResults, .playlist {
        width: 49%;
    }
}

@media only screen and (max-width: 900px) {
    .beforeSearching {
        width: 100%;
    }

    .beforeSearching input {
        left: 25%;
        top: 1rem;
    }

    .beforeSearching button {
        left: 25%;
        top: 2rem;
        background-color: #efefefab;
        color: #313b37;
    }

    .afterSearching input {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 720px) {
    .columns {
        flex-direction: column;
    }

    .playlist {
        width: 100%;
        height: 12rem;
        margin: 2% 0;
    }

    .searchResults {
        width: 100%;
        height: 11rem;
    }
}

@media only screen and (max-width: 670px) {
    .beforeSearching input {
        height: 1.5rem;
        font-size: .9rem;
    }

    .beforeSearching button {
        height: 1.5rem;
    }   

    .afterSearching input {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 530px) {  
    .afterSearching {
        width: 60%;
    }

    .afterSearching input {
        font-size: .8rem;
        width: 85%;
        padding-left: 1%;
        translate: -10%
    }

    .afterSearching button {
        width: 40%;
        translate: 25%;
    }
}