.searchBar {
    width: 100%;
}

.beforeSearching {
    width: 80%;
}

.beforeSearching input {
    display: block;
    width: 50%;
    height: 2rem;
    background-color: #aeedda;
    position: relative;
    left: 20%;
    top: 5rem;
    border-radius: 5%;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

.beforeSearching input:focus{
    background-color: #265b4fd7;
    color: #fff;
}

.beforeSearching button {
    width: 50%;
    height: 2rem;
    position: relative;
    left: 20.5%;
    top: 7rem;
    border-radius: 5%;
    letter-spacing: 2px;
    font-weight: 600;
}

.beforeSearching button:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchResults, .playlist {
    width: 45%;
    height: 40rem;
    overflow-y: scroll;
    border: 2px solid #b6b1b1;
}

.searchResults {
    background-color: #aeeddac7;
}

.afterSearching {
    width: 50%;
    translate: 50%;
    position: relative;
    bottom: 5%;
}

.afterSearching input {
    position: initial;
    display: block;
    width: 60%;
    height: 1.7rem;
    background-color: #aeedda;
    translate: 28%;
    font-size: large;
    letter-spacing: .2rem;
} 

.afterSearching input:focus{
    background-color: #265b4fd7;
    color: #fff;
    font-size: large;
    letter-spacing: .2rem;
}

.afterSearching button {
    width: 24%;
    position: initial;
    border-radius: 5%;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    translate: 150%;
    margin: 5% 0;
    padding: 1% 0;
}

.afterSearching button:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;   
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c18d59;
    border-radius: 2px;
} 

/* Media queries */

@media only screen and (max-width: 1330px) {
    .beforeSearching input {
        left: 40%;
    }

    .beforeSearching button {
        left: 40%;
    }
}

@media only screen and (max-width: 1050px) {
    .searchResults, .playlist {
        width: 49%;
    }
}

@media only screen and (max-width: 900px) {
    .beforeSearching {
        width: 100%;
    }

    .beforeSearching input {
        left: 25%;
        top: 1rem;
    }

    .beforeSearching button {
        left: 25%;
        top: 2rem;
        background-color: #efefefab;
        color: #313b37;
    }

    .afterSearching input {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 720px) {
    .columns {
        flex-direction: column;
    }

    .playlist {
        width: 100%;
        height: 12rem;
        margin: 2% 0;
    }

    .searchResults {
        width: 100%;
        height: 11rem;
    }
}

@media only screen and (max-width: 670px) {
    .beforeSearching input {
        height: 1.5rem;
        font-size: .9rem;
    }

    .beforeSearching button {
        height: 1.5rem;
    }   

    .afterSearching input {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 530px) {  
    .afterSearching {
        width: 60%;
    }

    .afterSearching input {
        font-size: .8rem;
        width: 85%;
        padding-left: 1%;
        translate: -10%
    }

    .afterSearching button {
        width: 40%;
        translate: 25%;
    }
}