.searchBar {
    width: 100%;
}

.beforeSearching {
    width: 80%;
}

.beforeSearching input {
    display: block;
    width: 50%;
    height: 2rem;
    background-color: #aeedda;
    position: relative;
    left: 20%;
    top: 5rem;
    border-radius: 5%;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

.beforeSearching input:focus{
    background-color: #265b4fd7;
    color: #fff;
}

.beforeSearching button {
    width: 50%;
    height: 2rem;
    position: relative;
    left: 20.5%;
    top: 7rem;
    border-radius: 5%;
    letter-spacing: 2px;
    font-weight: 600;
}

.beforeSearching button:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchResults, .playlist {
    width: 45%;
    height: 40rem;
    overflow: scroll;
    border: 2px solid rgb(182, 177, 177);
}

.afterSearching {
    width: 50%;
    translate: 50%;
    position: relative;
    bottom: 5%;
}

.afterSearching input {
    position: initial;
    display: block;
    width: 60%;
    height: 1.7rem;
    background-color: #aeedda;
    translate: 28%;
    font-size: large;
    letter-spacing: .2rem;
} 

.afterSearching input:focus{
    background-color: #265b4fd7;
    color: #fff;
    font-size: large;
    letter-spacing: .2rem;
}

.afterSearching button {
    width: 24%;
    position: initial;
    border-radius: 5%;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    translate: 150%;
    margin: 5% 0%;
    padding: 1% 0;
}

.afterSearching button:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;
    
}