.track {
    border: 1.5px solid #000;
    border-radius: 3px;
    background-color: #b5672a;
    height: 3.6rem;
    margin: 1.5% 5%;
    padding: 0 2%;
}

.add {
    position: relative;
    left: 92%;
    bottom: 70%;
    width: 8%;
    border: 1.2px solid #000;
    border-radius: 15%;
    padding: .5%;
}

.track h3 {
    font-size: .8rem;
    margin: 0;
}

.track h4 {
    font-size: .65rem;
    margin: 0;
}

.track h5 {
    font-size: .55rem;
    margin: 0;
}