.track {
    border: 1.5px solid #000;
    border-radius: 3px;
    background-color: #ca9872;
    height: 3.6rem;
    margin: 1.5% 5%;
    padding: 0 2%;
    overflow: hidden;
    display: flex;
}

.add {
    position: relative;
    left: 8%;
    width: 6%;
    height: 40%;
    align-self: center;
    border: 1.2px solid #000;
    border-radius: 50%;
    font-weight: 800;
    font-size: 1rem;
}

.add:hover {
    background-color: #000;
    color: #fff;
    transition: background-color .5s;
}

.trackInfo {
    width: 65%;
}

.track h3 {
    font-size: .8rem;
    font-weight: 800;
}

.track h4 {
    font-size: .65rem;
}

.track h5 {
    font-size: .6rem;
}

.track img {
    padding-left: 2%;
}

#remove {
    position: relative;
    width: 7%;
    height: 40%;
    align-self: center;
    border: 1.2px solid #000;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 800;
}

@media only screen and (max-width: 1050px) {
    .add {
        width: 6.5%;
    }
}

@media only screen and (max-width: 700px) {
    .add {
        padding: .5% .7%;
        width: 7.5%;
    }
}

@media only screen and (max-width: 380px) {
    .add {
        width: 9%;
    }
}