.App {
  width: 80%;
  margin: auto;
}

.App-header {
  width: 100%;
  margin: 5% 0 2%;
  font-size: 2.5rem;
  text-align: center;
  color:#53cba1;
  display: flex;
  justify-content: center;
}
.App-header img {
  width: 4%;
  margin: 0 1.5%;
}
.creating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.creating input {
  border-radius: 1rem;
  padding: .7rem;
  width: 130%;
  margin-left: 50%;
  position: relative;
  top: 40%;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
}

.creating input:focus{
  background-color: #265b4fd7;
  color: #fff;
}

.creating input::placeholder {
  color: #000;
}

#success {
  font-size: 1.8rem;
  color: #53cba1;
  position: relative;
  text-align: center;
  padding: 0 0 2%;
}

@media only screen and (max-width: 900px) {

  .App-header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 775px) {
  .App-header {
    font-size: 1.5rem;
  }

  .App {
    width: 90%;
  }
}