* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", serif;
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  body {
    background-repeat: repeat;
  }
}